{% extends 'app/user.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block main-content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center mb-4">User Login</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="btn btn-secondary">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
